<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>IoT</title>
  <meta name="description" content="frictionless IoT">
  <meta name="author" description="PointLook">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oxygen:400,300,700">
  <link rel="stylesheet" href="css/style.css">
</head>
<body>

<div class="content">
  <h1 class="content__heading">IoT</h1>
  <p class="content__teaser">IoT data collection made frictionless</p>
  <a href="/iotlogs" class="content__cta">IoT Frictionless</a>
</div><!-- /content -->

<video id="my-video" class="video" muted loop poster="/media/waterdrop.png">
    <source src="/media/waterdrop-dash.mp4">
</video><!-- /video -->

<script>
(function() {
  /**
   * Video element
   * @type {HTMLElement}
   */
  var video = document.getElementById("my-video");

  /**
   * Check if video can play, and play it
   */
  video.addEventListener( "canplay", function() {
    video.play();
  });
})();
</script>

</body>
</html>
